---
title: Overview of the Loggregator System
---

Loggregator is the next generation system for aggregating and streaming logs and metrics from all of the user apps and system components in a <%= vars.product_full %> deployment.

[Loggregator on GitHub](https://github.com/cloudfoundry/loggregator)

# <a id='use-cases'></a> Using Loggregator

The main use cases are as follows:

- App developers can tail their application logs or dump the recent logs from the CF CLI, or stream these to a 3rd party log archive and analysis service.

- Operators and administrators can access the Loggregator Firehose--the combined stream of logs from all apps, plus metrics data from CF components.

- Operators can deploy ‘nozzles’ to the Firehose. A nozzle is a component that selectively listens to the firehose for specified events and metrics and streams this data to external services.

# <a id='use-cases'></a> Loggregator Components

<%= image_tag 'architecture/loggregator.png' %>
figure 1: overview of Loggregator components

## <a id='sources'></a>Source 

Sources are logging agents that run on the Cloud Foundry components.

## <a id='metron'></a>Metron

Metron agents are co-located with sources. They collect logs and forward them to the Doppler servers.

## <a id='doppler'></a>Doppler

Dopplers gather logs from the Metron agents, store them in temporary buffers, and forward them to the Traffic Controller or to 3rd party syslog drains.

## <a id='traffic-controller'></a>Traffic Controller

Handles client requests for logs. Gathers and collates messages from all Doppler servers, and provides external API and message translation (as needed for legacy APIs). Exposes the Firehose.

## <a id='firehose'></a>Firehose

The Firehose is the API exposed by the Traffic Controller. The access point for logs and metrics from a deployment, other than those forwarded directly from Doppler instances to 3rd party log services. “Nozzle” applications that consume logs and/or metrics subscribe to the Firehose.



