---
title: Installing the Loggregator Firehose Plugin for cf CLI
---

<strong><%= modified_date %></strong>

The Loggregator Firehose plugin for the Cloud Foundry Command Line Interface (cf CLI) allows Cloud Foundry (CF) administrators access to the output of the [Loggregator Firehose](./architecture.html#firehose), which includes logs and metrics from all CF components.

See [Using cf CLI Plugins](../devguide/cf-cli/use-cli-plugins.html) for more information about using plugins with the cf CLI.

## <a id='prerequisites'></a>Prerequisites

- Administrator access to the Cloud Foundry deployment that you want to monitor
- Cloud Foundry Command Line Interface (cf CLI) 6.12.2 or later

Refer to the [Installing the cf Command Line Interface](../devguide/cf-cli/install-go-cli.html) topic for information about downloading, installing, and uninstalling the cf CLI.

## <a id='add'></a>Install the Plugin

1. Run `cf add-plugin-repo REPO_NAME URL` to add the Cloud Foundry Community plugin repository to your cf CLI plugins.
<pre class='terminal'>
$ cf add-plugin-repo CF-Community http://plugins.cloudfoundry.org
</pre>

1. Run `cf install-plugin PLUGIN-NAME -r PLUGIN-REPO` to install the Firehose plugin from the CF Community plugin repository.
<pre class='terminal'>
$ cf install-plugin "Firehose Plugin" -r CF-Community
</pre>

## <a id='usage'></a> View the Firehose ##

Run `cf nozzle --debug` to view the streaming output of the Firehose, which includes logging events and metrics from CF system components. For more information about logging and metrics in CF, see [Overview of the Loggregator System](./architecture.html).
<pre class='terminal'>
$ cf nozzle --debug
</pre>

<p class='note'><strong>Note</strong>: You must be logged in as a Cloud Foundry administrator to access the Firehose.</p>

## <a id='uninstall'></a>Uninstall the Plugin ##
Run `cf plugins` to see a list of installed plugins.
<pre class='terminal'>
$ cf plugins
Listing Installed Plugins...
OK
Plugin Name      Version   Command Name   Command Help
FirehosePlugin   0.6.0     nozzle         Command to print out messages from the firehose
</pre>

Run `cf uninstall-plugin PLUGIN-NAME` to uninstall the plugin.
 <pre class='terminal'>$ cf uninstall-plugin FirehosePlugin</pre>

