---
title:  Container Metrics
owner: 
---

This topic describes the metrics that are emitted by all containers managed by <%= vars.app_runtime_first %> and its scheduling system, Diego.

App metrics include the container metrics described below, plus any custom app metrics that developers create.

## <a id="container-metrics"></a> Diego Container Metrics

Diego containers emit the following resource usage metrics for their app instance (AI).  Each metric is averaged over and emitted every 15 seconds.

The following table describes all Diego container metrics:

<table id='container-metrics' class="nice" >
  <tr>
    <th width=20%>Metric</th>
    <th width=65%>Description</th>
    <th width=15%>Unit</th>
  </tr><tr>
    <td><code>CpuPercentage</code></td>
    <td>CPU time used by AI as a percentage of a single CPU core.<br><br>
    This is usually no greater than <code>100% * the number of vCPUs on the host Diego cell</code>, but it may be more due to discrepancies in measurement timing.</td>
    <td><code>float64</code></td>
  </tr><tr>
    <td><code>AbsoluteCPUEntitlement</code></td>
    <td>CPU time that the AI was entitled to use.<br><br>
    At minimum, the CPU time that a Diego cell provides an AI is <code>min(app memory, 8 GB) * (Diego cell vCPUs/Diego cell memory) * 100%</code>.<br><br>
    The platform operator can provide the Diego cell <code>vCPUs/memory</code> ratio to developers.<br>
    If a Diego cell is not at capacity or if other workloads on it are idle, the cell can provide more than the minimum CPU.</td>
    <td><code>uint64</code></td>
  </tr><tr>
    <td><code>AbsoluteCPUUsage</code></td>
    <td>CPU time used by AI.<br><br>
    <code>AbsoluteCPUUsage / AbsoluteCPUEntitlement</code> calculates a 0-100% range of AI usage per entitlement.</td>
    <td><code>uint64</code></td>
  </tr><tr>
    <td><code>MemoryBytes</code></td>
    <td>RAM memory used by AI, in MB.</td>
    <td><code>uint64</code></td>
  </tr><tr>
    <td><code>MemoryBytesQuota</code></td>
    <td>RAM memory available, in GB.</td>
    <td><code>uint64</code></td>
  </tr><tr>
    <td><code>DiskBytes</code></td>
    <td>Disk space used by AI, in MB.</td>
    <td><code>uint64</code></td>
  </tr><tr>
    <td><code>DiskBytesQuota</code></td>
    <td>Disk space available, in GB.</td>
    <td><code>uint64</code></td>
  </tr><tr>
    <td><code>ContainerAge</code></td>
    <td>Age of container, in nanoseconds.</td>
    <td><code>uint64</code></td>
  </tr>
</table>

**Loggregator v1**: Most of the container metrics are emitted in a `ContainerMetric` envelope.
The `AbsoluteCPUEntitlement`, `AbsoluteCPUUsage`, and `ContainerAge` container metrics are emitted
as separate `ValueMetric` envelopes.

**Loggregator v2**: All container metrics are emitted in gauge envelopes. The
`AbsoluteCPUEntitlement`, `AbsoluteCPUUsage`, and `ContainerAge` container metrics are emitted in a
separate envelope to the other container metrics.

## <a id="cf-cli"></a> Retrieve Container Metrics from the cf CLI

You can use Cloud Foundry command-line interface (cf CLI) commands to return container metrics.

### <a id="cf-app"></a> Retrieve CPU, Memory, and Disk Metrics

To retrieve CPU, memory, and disk metrics for all instances of an app:

1. Run the command `cf app APP-NAME`.

The command output lists Diego container metric values as follows:

| Label in Output | Metrics listed, as described in [Diego Container Metrics](#container-metrics), above |
|---|---|
| `cpu` | `CpuPercentage` |
| `memory` | `MemoryBytes` of `MemoryBytesQuota` |
| `disk` | `DiskBytes` of `DiskBytesQuota` |

For example:

<pre class="terminal">
$ cf app dora-example
Showing health and status for app dora-example in org o / space s as admin...

name:              dora-example
requested state:   started
routes:            dora-example.bosh-lite.com
last uploaded:     Fri 05 Apr 10:41:21 PDT 2019
stack:             cflinuxfs3
buildpacks:        ruby

type:           web
instances:      1/1
memory usage:   256M
     state     since                  cpu    memory          disk          details
#0   running   2019-04-05T17:41:31Z   0.4%   39.5M of 256M   89.9M of 1G
</pre>

The `cf app APP_NAME` command will show you what percentage of CPU the app is currently using relative to the total CPU on the host machine.

### <a id="cf-app"></a> Retrieve CPU Entitlement Metrics

The metric `AbsoluteCPUEntitlement` shows an app's CPU usage relative to an its entitlement.

To see app instance `AbsoluteCPUEntitlement` metrics from the command line:

1. Install the CPU Entitlement Plugin from [cpu-entitlement-plugin](https://github.com/cloudfoundry/cpu-entitlement-plugin) in GitHub.

2. Run the command `cf cpu-entitlement APP-NAME`.

For example:

<pre class="terminal">
$ cf cpu-entitlement dora-example
Note: This feature is experimental.
Showing CPU usage against entitlement for app dora-example in org example-org / space example-org-staging as dora@example.com ...
​
     avg usage   curr usage
#0   1.62%       1.66%
#1   2.93%       3.09%
#2   2.51%       2.62%
​
</pre>

### <a id="cf-app"></a> The CPU Overentitlement Plugin

The CPU overentitlement plugin shows when an app has been throttled. This information helps determine if the app needs to be scaled.

When [`experimental_cpu_throttling`](https://github.com/cloudfoundry/garden-runc-release/blob/dbe55cff0c883f36d4c3ccf56b903ae41ae0d7d8/jobs/garden/spec#L225-L227) is enabled then applications are split into 2 groups - good and bad apps. Good apps have an average CPU usage under 100% of their CPU entitlement. Bad apps have an average CPU usage that exceeds 100% of their entitlements.

You can check all the so called bad applications in your organization by using the CPU overentitlement plugin and the `cf over-entitlement-instances` command.

1. Install the CPU Overentitlement Plugin from [cpu-entitlement-plugin](https://github.com/cloudfoundry/cpu-entitlement-plugin) in GitHub.

2. Run the command `cf over-entitlement-instances`.

For example:

<pre class="terminal">
$ cf over-entitlement-instances
Note: This feature is experimental.
Showing over-entitlement apps in org example-org / space example-org-staging as dora@example.com ...
​
     space                     app
#0   example-org-staging       dora-example-2     
#1   example-org-staging       dora-example-3
#2   example-org-staging       dora-example-4
​
</pre>
