---
title: Logs and Metrics Sources
owner: Logging and Metrics
---

<strong><%= modified_date %></strong>

Logs and metrics are collected on the platform and application levels of Cloud Foundry (CF) deployments. The following sources collect CF logs and metrics:

- **Loggregator**: Loggregator collects logs and metrics from applications. It also collects metrics from CF components on the platform level. For more information about the Loggregator system, including Loggregator architecture and components, see [Overview of the Loggregator System](./architecture.html).
- **CF components**: CF components collect logs on the platform level. On Linux machines, this collection process is faciliated by rsyslogd.

The table below shows the source of logs and metrics on the platform and application CF deployment levels.

<table>
	<tr>
		<th></th>
		<th>Logs</th>
		<th>Metrics</th>
	</tr>
	<tr>
		<td>
			Application
		</td>
		<td>
			Loggregator 
		</td>	
		</td>	
		<td>
			Loggregator
	</tr>
	<tr>
		<td>
			Platform
		</td>
		<td>
			CF component syslogs (rsyslogd)			
		</td>
		<td>
			Loggregator	
		</td>	
	</tr>	
</table>

##About Logs and Metrics

The types of information included in logs and metrics vary based on the CF deployment level.

Metrics include the following content:

- **Platform Level**: Metrics on the platform level include measurements of CF platform components as well as system metrics from VMs. For more information about collecting metrics on VMs using the BOSH Health Monitor, see [Configuring a Monitoring System](https://docs.pivotal.io/pivotalcf/monitoring/metrics.html#bosh-cf).
- **Application Level**: Metrics on the application level include container metrics, such as CPU, memory, and disk usage. They also include custom metrics configured by the user. For more information about configuring an application to emit custom metrics to Loggregator, see [Metrics Forwarder for PCF] (https://docs.pivotal.io/metrics-forwarder/).

Logs include the following content:

- **Platform Level**: Logs on the platform level incude every system event logged by CF platform components.
- **Application Level**: Logs on the application level include all application process events. For more information about application logging, see [Application Logging in Cloud Foundry](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/streaming-logs.html).

##Viewing Logs and Metrics

The table below lists the options for viewing logs and metrics on the platform and application CF deployment levels.

<table>
	<tr>
		<th></th>
		<th>Logs</th>
		<th>Metrics</th>
	</tr>
	<tr>
		<td>
			Application
		</td>
		<td>
			<ul>
				<li>cf CLI</li>
				<li>Apps Manager</li>
				<li>Syslog forwarding</li>
				<li>Loggregator Firehose</li>
				<li>Loggregator Log Cache</li>
			</ul>			 
		</td>	
		<td>
			<ul>
				<li>PCF Metrics</li>
				<li>Log Cache CLI Plugin</li>
				<li>Loggregator Firehose</li>
			</ul>
		</td>	
	</tr>
	<tr>
		<td>
			Platform
		</td>
		<td>
			Configure rsyslogd to send platofrm logs to a third-party service.
		</td>
		<td>
			<ul>
				<li>PCF Healthwatch</li>
				<li>Log Cache CLI Plugin</li>
				<li>Loggregator Firehose</li>
			</ul>
		</td>	
	</tr>	
</table>
