---
title: DEA Architecture Metrics
owner: Logging and Metrics
---

<strong><%= modified_date %></strong>

This topic lists and describes the metrics available for <%=vars.first_product_name%> system components in the DEA architecture. See the [Cloud Foundry System Metrics](./all_metrics.html) topic for metrics that are not explicitly associated with the DEA architecture. 
These metrics are streamed from the Loggregator [Firehose](./architecture.html).

##<a id='dea'></a>DEA
<%= partial './metrics/dea_logging_agent' %>

##<a id='hm9000'></a>HM9000
<%= partial './metrics/hm9000' %>

