---
title: Loggregator Logs and Metrics
owner: Logging and Metrics
---

This documentation describes the Loggregator system, which aggregates and streams logs and metrics from all of the user apps and system components in <%=vars.product_full%>.

## Table of Contents

* <a href="./architecture.html" class="subnav">Overview of the Loggregator System</a>

* <a href="./log-ops-guide.html" class="subnav">Loggregator Guide for Cloud Foundry Operators</a>

* <a href="../devguide/deploy-apps/streaming-logs.html" class="subnav">Application Logging in Cloud Foundry</a>

* <a href="./cc-uaa-logging.html" class="subnav">Security Event Logging for Cloud Controller and UAA</a>

* <a href="./nozzle-tutorial.html" class="subnav">Deploying a Nozzle to the Loggregator Firehose</a>

* <a href="./data-sources.html" class="subnav">Cloud Foundry Data Sources</a>

* <a href="./cli-plugin.html" class="subnav">Installing the Loggregator Plugin for cf CLI</a>

<%= vars.all_metrics_links %>

<%= vars.loggregator_links %>
