---
title: Logging and Metrics
owner: Logging and Metrics
---

This documentation describes logging and metrics in Cloud Foundry (CF). It includes topics related to monitoring, event logging, CF data sources, and viewing logs and metrics. It also includes information about the Loggregator system, which aggregates and streams logs and metrics from apps and platform components in <%=vars.product_full%> (PAS).

## Table of Contents

* <a href="./data-sources.html" class="subnav">Overview of Logging and Metrics</a>

* <a href="./architecture.html" class="subnav">Overview of the Loggregator System</a>

* <a href="../devguide/deploy-apps/streaming-logs.html" class="subnav">Application Logging in Cloud Foundry</a>

* <a href="./cc-uaa-logging.html" class="subnav">Security Event Logging</a>

## See Also

* <a href="https://docs.pivotal.io/pivotalcf/monitoring/index.html">Monitoring Pivotal Cloud Foundry</a>

* <a href="https://docs.pivotal.io/pivotalcf/opsguide/logging-config-opsman.html">Configuring Logging in PAS</a>

* <a href="https://docs.pivotal.io/pivotalcf/opsguide/accounting-report-apps-man.html">Monitoring Instance Usage with Apps Manager</a>

* <a href="https://docs.pivotal.io/pivotalcf/opsguide/accounting-report.html">Monitoring App, Task, and Service Instance Usage</a>

* <a href="https://docs.pivotal.io/pivotalcf/customizing/monitoring.html">Monitoring Virtual Machines in Pivotal Cloud Foundry</a>