<table>
	<tr>
		<th><strong>Property</strong></th>
		<th><strong>Description</strong></th>
		<th><strong>Default</strong></th>
	</tr>
	<tr>
		<td>dea_logging_agent.debug</td>
	    <td>Boolean value to turn on verbose mode</td>
	    <td>false</td>
	</tr>
	<tr>
		<td>metron_endpoint.host</td>
	    <td>The host used to emit messages to the Metron agent</td>
	    <td>127.0.0.1</td>
	</tr>
	<tr>
		<td>metron_endpoint.dropsonde_port</td>
	    <td>The port used to emit dropsonde messages to the Metron agent</td>
	    <td>3457</td>
	</tr>
	<tr>
	    <td>metron_endpoint.shared_secret</td>
	    <td>The key used to sign log messages</td>
	    <td>No default value</td>
	</tr>
	<tr>
	     <td>dea_logging_agent.status.port</td>
	    <td>Port used to run the varz endpoint</td>
	    <td>0</td>
	</tr>
	<tr>
	    <td>nats.user</td>
	    <td>Username for cc client to connect to NATS</td>
	    <td>No default value</td>
	</tr>
  	<tr>
  	  	<td>nats.password</td>
  	    <td>Password for cc client to connect to NATS</td>
  	    <td>No default value</td>
  	</tr>
  	<tr>
  	  	<td>nats.machines</td>
  	    <td>IP addresses of Cloud Foundry NATS servers</td>
  	    <td>No default value</td>
  	</tr>
	<tr>
	    <td>nats.port</td>
	    <td>IP port of Cloud Foundry NATS server</td>
	    <td>No default value</td>
	</tr>
</table>
