 ## <a id="diego"></a> Diego

 Metric Name                                                 | Description
-------------------------------------------------------------|----------------------------------------------------------------------------------------------
 auctioneer.AuctioneerFetchStatesDuration                    |
 auctioneer.AuctioneerLRPAuctionsFailed                      |
 auctioneer.AuctioneerLRPAuctionsStarted                     |
 auctioneer.AuctioneerTaskAuctionsFailed                     |
 auctioneer.AuctioneerTaskAuctionsStarted                    |
 auctioneer.memoryStats.lastGCPauseTimeNS                    | Duration of the last Garbage Collector pause in nanoseconds
 auctioneer.memoryStats.numBytesAllocated                    | Instantaneous count of bytes allocated and still in use
 auctioneer.memoryStats.numBytesAllocatedHeap                | Instantaneous count of bytes allocated on the main heap and still in use
 auctioneer.memoryStats.numBytesAllocatedStack               | Instantaneous count of bytes used by the stack allocator
 auctioneer.memoryStats.numFrees                             | Lifetime number of memory deallocations
 auctioneer.memoryStats.numMallocs                           | Lifetime number of memory allocations
 auctioneer.numCPUS                                          | Number of CPUs on the machine
 auctioneer.numGoRoutines                                    | Instantaneous number of active Goroutines in the process
 bbs.ConvergenceLRPRuns                                      |
 bbs.ConvergenceLRPDuration                                  |
 bbs.ConvergenceLRPPreProcessingDesiredLRPsDeleted           |
 bbs.ConvergenceLRPPreProcessingActualLRPsDeleted            |
 bbs.ConvergenceLRPsDeleted                                  |
 bbs.LRPsDesired                                             |
 bbs.LRPsStarting                                            |
 bbs.LRPsRunning                                             |
 bbs.CrashedActualLRPs                                       |
 bbs.CrashingDesiredLRPs                                     |
 bbs.ETCDLeader                                              |
 bbs.ETCDFollowers                                           |
 bbs.ETCDReceivedBandwidthRate                               |
 bbs.ETCDSentBandwidthRate                                   |
 bbs.ETCDReceivedRequestRate                                 |
 bbs.ETCDSentRequestRate                                     |
 bbs.ETCDRaftTerm                                            |
 bbs.ETCDWatchers                                            |
 bbs.ConvergenceTaskRuns                                     |
 bbs.ConvergenceTaskDuration                                 |
 bbs.ConvergenceTasksKicked                                  |
 bbs.ConvergenceTasksPruned                                  |
 bbs.TasksPending                                            |
 bbs.TasksRunning                                            |
 bbs.TasksCompleted                                          |
 bbs.TasksResolving                                          |
 bbs.RequestLatency                                          |
 bbs.RequestCount                                            |
 bbs.MetricsReportingDuration                                |
 bbs.BBSMasterElected                                        |
 bbs.MigrationDuration                                       |
 bbs.memoryStats.lastGCPauseTimeNS                           | Duration of the last Garbage Collector pause in nanoseconds
 bbs.memoryStats.numBytesAllocated                           | Instantaneous count of bytes allocated and still in use
 bbs.memoryStats.numBytesAllocatedHeap                       | Instantaneous count of bytes allocated on the main heap and still in use
 bbs.memoryStats.numBytesAllocatedStack                      | Instantaneous count of bytes used by the stack allocator
 bbs.memoryStats.numFrees                                    | Lifetime number of memory deallocations
 bbs.memoryStats.numMallocs                                  | Lifetime number of memory allocations
 bbs.numCPUS                                                 | Number of CPUs on the machine
 bbs.numGoRoutines                                           | Instantaneous number of active Goroutines in the process
 cc_uploader.memoryStats.lastGCPauseTimeNS                   | Duration of the last Garbage Collector pause in nanoseconds
 cc_uploader.memoryStats.numBytesAllocated                   | Instantaneous count of bytes allocated and still in use
 cc_uploader.memoryStats.numBytesAllocatedHeap               | Instantaneous count of bytes allocated on the main heap and still in use
 cc_uploader.memoryStats.numBytesAllocatedStack              | Instantaneous count of bytes used by the stack allocator
 cc_uploader.memoryStats.numFrees                            | Lifetime number of memory deallocations
 cc_uploader.memoryStats.numMallocs                          | Lifetime number of memory allocations
 cc_uploader.numCPUS                                         | Number of CPUs on the machine
 cc_uploader.numGoRoutines                                   | Instantaneous number of active Goroutines in the process
 converger.ConvergenceLRPDuration                            |
 converger.ConvergenceLRPPreProcessingActualLRPsDeleted      |
 converger.ConvergenceLRPPreProcessingDesiredLRPsDeleted     |
 converger.ConvergenceLRPRuns                                |
 converger.ConvergenceTaskDuration                           |
 converger.ConvergenceTaskRuns                               |
 converger.ConvergenceTasksKicked                            |
 converger.ConvergenceTasksPruned                            |
 converger.memoryStats.lastGCPauseTimeNS                     | Duration of the last Garbage Collector pause in nanoseconds
 converger.memoryStats.numBytesAllocated                     | Instantaneous count of bytes allocated and still in use
 converger.memoryStats.numBytesAllocatedHeap                 | Instantaneous count of bytes allocated on the main heap and still in use
 converger.memoryStats.numBytesAllocatedStack                | Instantaneous count of bytes used by the stack allocator
 converger.memoryStats.numFrees                              | Lifetime number of memory deallocations
 converger.memoryStats.numMallocs                            | Lifetime number of memory allocations
 converger.numCPUS                                           | Number of CPUs on the machine
 converger.numGoRoutines                                     | Instantaneous number of active Goroutines in the process
 file_server.memoryStats.lastGCPauseTimeNS                   | Duration of the last Garbage Collector pause in nanoseconds
 file_server.memoryStats.numBytesAllocated                   | Instantaneous count of bytes allocated and still in use
 file_server.memoryStats.numBytesAllocatedHeap               | Instantaneous count of bytes allocated on the main heap and still in use
 file_server.memoryStats.numBytesAllocatedStack              | Instantaneous count of bytes used by the stack allocator
 file_server.memoryStats.numFrees                            | Lifetime number of memory deallocations
 file_server.memoryStats.numMallocs                          | Lifetime number of memory allocations
 file_server.numCPUS                                         | Number of CPUs on the machine
 file_server.numGoRoutines                                   | Instantaneous number of active Goroutines in the process
 garden_linux.memoryStats.lastGCPauseTimeNS                  | Duration of the last Garbage Collector pause in nanoseconds
 garden_linux.memoryStats.numBytesAllocated                  | Instantaneous count of bytes allocated and still in use
 garden_linux.memoryStats.numBytesAllocatedHeap              | Instantaneous count of bytes allocated on the main heap and still in use
 garden_linux.memoryStats.numBytesAllocatedStack             | Instantaneous count of bytes used by the stack allocator
 garden_linux.memoryStats.numFrees                           | Lifetime number of memory deallocations
 garden_linux.memoryStats.numMallocs                         | Lifetime number of memory allocations
 garden_linux.numCPUS                                        | Number of CPUs on the machine
 garden_linux.numGoRoutines                                  | Instantaneous number of active Goroutines in the process
 nsync_bulker.DesiredLRPSyncDuration                         |
 nsync_bulker.memoryStats.lastGCPauseTimeNS                  | Duration of the last Garbage Collector pause in nanoseconds
 nsync_bulker.memoryStats.numBytesAllocated                  | Instantaneous count of bytes allocated and still in use
 nsync_bulker.memoryStats.numBytesAllocatedHeap              | Instantaneous count of bytes allocated on the main heap and still in use
 nsync_bulker.memoryStats.numBytesAllocatedStack             | Instantaneous count of bytes used by the stack allocator
 nsync_bulker.memoryStats.numFrees                           | Lifetime number of memory deallocations
 nsync_bulker.memoryStats.numMallocs                         | Lifetime number of memory allocations
 nsync_bulker.numCPUS                                        | Number of CPUs on the machine
 nsync_bulker.numGoRoutines                                  | Instantaneous number of active Goroutines in the process
 nsync_listener.LRPsDesired                                  |
 nsync_listener.memoryStats.lastGCPauseTimeNS                | Duration of the last Garbage Collector pause in nanoseconds
 nsync_listener.memoryStats.numBytesAllocated                | Instantaneous count of bytes allocated and still in use
 nsync_listener.memoryStats.numBytesAllocatedHeap            | Instantaneous count of bytes allocated on the main heap and still in use
 nsync_listener.memoryStats.numBytesAllocatedStack           | Instantaneous count of bytes used by the stack allocator
 nsync_listener.memoryStats.numFrees                         | Lifetime number of memory deallocations
 nsync_listener.memoryStats.numMallocs                       | Lifetime number of memory allocations
 nsync_listener.numCPUS                                      | Number of CPUs on the machine
 nsync_listener.numGoRoutines                                | Instantaneous number of active Goroutines in the process
 receptor.memoryStats.lastGCPauseTimeNS                      | Duration of the last Garbage Collector pause in nanoseconds
 receptor.memoryStats.numBytesAllocated                      | Instantaneous count of bytes allocated and still in use
 receptor.memoryStats.numBytesAllocatedHeap                  | Instantaneous count of bytes allocated on the main heap and still in use
 receptor.memoryStats.numBytesAllocatedStack                 | Instantaneous count of bytes used by the stack allocator
 receptor.memoryStats.numFrees                               | Lifetime number of memory deallocations
 receptor.memoryStats.numMallocs                             | Lifetime number of memory allocations
 receptor.numCPUS                                            | Number of CPUs on the machine
 receptor.numGoRoutines                                      | Instantaneous number of active Goroutines in the process
 rep.CapacityRemainingContainers                             |
 rep.CapacityRemainingDisk                                   |
 rep.CapacityRemainingMemory                                 |
 rep.CapacityTotalContainers                                 |
 rep.CapacityTotalDisk                                       |
 rep.CapacityTotalMemory                                     |
 rep.ContainerCount                                          |
 rep.memoryStats.lastGCPauseTimeNS                           | Duration of the last Garbage Collector pause in nanoseconds
 rep.memoryStats.numBytesAllocated                           | Instantaneous count of bytes allocated and still in use
 rep.memoryStats.numBytesAllocatedHeap                       | Instantaneous count of bytes allocated on the main heap and still in use
 rep.memoryStats.numBytesAllocatedStack                      | Instantaneous count of bytes used by the stack allocator
 rep.memoryStats.numFrees                                    | Lifetime number of memory deallocations
 rep.memoryStats.numMallocs                                  | Lifetime number of memory allocations
 rep.numCPUS                                                 | Number of CPUs on the machine
 rep.numGoRoutines                                           | Instantaneous number of active Goroutines in the process
 rep.RepBulkSyncDuration                                     |
 route_emitter.memoryStats.lastGCPauseTimeNS                 | Duration of the last Garbage Collector pause in nanoseconds
 route_emitter.memoryStats.numBytesAllocated                 | Instantaneous count of bytes allocated and still in use
 route_emitter.memoryStats.numBytesAllocatedHeap             | Instantaneous count of bytes allocated on the main heap and still in use
 route_emitter.memoryStats.numBytesAllocatedStack            | Instantaneous count of bytes used by the stack allocator
 route_emitter.memoryStats.numFrees                          | Lifetime number of memory deallocations
 route_emitter.memoryStats.numMallocs                        | Lifetime number of memory allocations
 route_emitter.numCPUS                                       | Number of CPUs on the machine
 route_emitter.numGoRoutines                                 | Instantaneous number of active Goroutines in the process
 route_emitter.RouteEmitterSyncDuration                      |
 route_emitter.RoutesRegistered                              |
 route_emitter.RoutesSynced                                  |
 route_emitter.RoutesTotal                                   |
 route_emitter.RoutesUnregistered                            |
 ssh_proxy.memoryStats.lastGCPauseTimeNS                     | Duration of the last Garbage Collector pause in nanoseconds
 ssh_proxy.memoryStats.numBytesAllocated                     | Instantaneous count of bytes allocated and still in use
 ssh_proxy.memoryStats.numBytesAllocatedHeap                 | Instantaneous count of bytes allocated on the main heap and still in use
 ssh_proxy.memoryStats.numBytesAllocatedStack                | Instantaneous count of bytes used by the stack allocator
 ssh_proxy.memoryStats.numFrees                              | Lifetime number of memory deallocations
 ssh_proxy.memoryStats.numMallocs                            | Lifetime number of memory allocations
 ssh_proxy.numCPUS                                           | Number of CPUs on the machine
 ssh_proxy.numGoRoutines                                     | Instantaneous number of active Goroutines in the process
 stager.memoryStats.lastGCPauseTimeNS                        | Duration of the last Garbage Collector pause in nanoseconds
 stager.memoryStats.numBytesAllocated                        | Instantaneous count of bytes allocated and still in use
 stager.memoryStats.numBytesAllocatedHeap                    | Instantaneous count of bytes allocated on the main heap and still in use
 stager.memoryStats.numBytesAllocatedStack                   | Instantaneous count of bytes used by the stack allocator
 stager.memoryStats.numFrees                                 | Lifetime number of memory deallocations
 stager.memoryStats.numMallocs                               | Lifetime number of memory allocations
 stager.numCPUS                                              | Number of CPUs on the machine
 stager.numGoRoutines                                        | Instantaneous number of active Goroutines in the process
 stager.StagingRequestFailedDuration                         |
 stager.StagingRequestsFailed                                |
 stager.StagingRequestsSucceeded                             |
 stager.StagingRequestSucceededDuration                      |
 stager.StagingStartRequestsReceived                         |
 tps_listener.memoryStats.lastGCPauseTimeNS                  | Duration of the last Garbage Collector pause in nanoseconds
 tps_listener.memoryStats.numBytesAllocated                  | Instantaneous count of bytes allocated and still in use
 tps_listener.memoryStats.numBytesAllocatedHeap              | Instantaneous count of bytes allocated on the main heap and still in use
 tps_listener.memoryStats.numBytesAllocatedStack             | Instantaneous count of bytes used by the stack allocator
 tps_listener.memoryStats.numFrees                           | Lifetime number of memory deallocations
 tps_listener.memoryStats.numMallocs                         | Lifetime number of memory allocations
 tps_listener.numCPUS                                        | Number of CPUs on the machine
 tps_listener.numGoRoutines                                  | Instantaneous number of active Goroutines in the process
 tps_watcher.memoryStats.lastGCPauseTimeNS                   | Duration of the last Garbage Collector pause in nanoseconds
 tps_watcher.memoryStats.numBytesAllocated                   | Instantaneous count of bytes allocated and still in use
 tps_watcher.memoryStats.numBytesAllocatedHeap               | Instantaneous count of bytes allocated on the main heap and still in use
 tps_watcher.memoryStats.numBytesAllocatedStack              | Instantaneous count of bytes used by the stack allocator
 tps_watcher.memoryStats.numFrees                            | Lifetime number of memory deallocations
 tps_watcher.memoryStats.numMallocs                          | Lifetime number of memory allocations
 tps_watcher.numCPUS                                         | Number of CPUs on the machine
 tps_watcher.numGoRoutines                                   | Instantaneous number of active Goroutines in the process
 
[Top](#metrics-by-component)